
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

header {
  border: 1px solid black;
  width: 100%;
  height: 140px;
  background-color: teal;

  .header-content {
    border: 1px solid yellow;
    // width: 1020px;
    margin: 0 auto;
    height: 100%;
  }
  .header-top {

    border-bottom: 1px solid gray;
  }
  .header-bottom {
    margin-top: 2%;
    margin-right: 130px;
    margin-left: 130px;
    width: 100%;
    word-spacing: 21px;
    font-size: 18px;
    color: lightgray;
  }
  h1{
    display: inline-block;
  }

  .input {
    width: 60%;
    display: inline-block;
    position: relative;
    top: -12px;
  }
  .search {
    display: inline-block;
    position: relative;
    top: -12px;
  }
  .nav1 {
    display: inline-block;
    width: 500px;
    margin-left: 130px;

  }
  .nav2 {
    display: inline-block;
    float: right;
    margin-top: 24px;
    margin-right: 130px;

    .cart {
      border-color: none;
      border-radius: 0;

    }
  }
}
.container {
  width: 1020px;
  margin: 0 auto;
  height: 100%;
  border: 1px solid red;


  .sidebar {
    border: 1px solid green;
    height: 100%;
    .firstBlock {
      border: 1px solid blue;
      height: 500px;
      width: 100%;

    }
    .secondBlock {
      border: 1px solid black;
      height: 550px;
      width: 100%;
      .itemType {
        border-bottom: 1px solid gray;
      }
      .price-row {
        padding-left: 15px;
        border-bottom: 1px solid black;
      }
      .price {
        width: 63px;
        display: inline-block;
      }
      .filter-Color {
        border-bottom: 1px solid black;
      }
      .order-options {
        border-bottom: 1px solid black;
      }
      .shop-location {
        border-bottom: 1px solid black;

      }
      .colors {
        .colorR{
          display: inline-block;
          width: 20px;
          height: 20px;
          background-color: red;
          border-radius: 15%;
        }
        .colorO{
          display: inline-block;
          width: 20px;
          height: 20px;
          background-color: orange;
          border-radius: 15%;
        }
        .colorY{
          display: inline-block;
          width: 20px;
          height: 20px;
          background-color: yellow;
          border-radius: 15%;
        }
        .colorG{
          display: inline-block;
          width: 20px;
          height: 20px;
          background-color: green;
          border-radius: 15%;
        }
        .colorLB{
          display: inline-block;
          width: 20px;
          height: 20px;
          background-color: lightblue;
          border-radius: 15%;
        }
        .colorP{
          display: inline-block;
          width: 20px;
          height: 20px;
          background-color: purple;
          border-radius: 15%;
        }
        .colorB{
          display: inline-block;
          width: 20px;
          height: 20px;
          background-color: black;
          border-radius: 15%;
        }
        .colorW{
          display: inline-block;
          width: 20px;
          height: 20px;
          background-color: #FFF;
          border: 1px solid black;
          border-radius: 15%;
        }
      }

    }
  }//end of sidebar
  .main-body {
    margin: 0;
    padding-left: 10px;

    .img1 {
      display: inline-block;
      width: 45%;
      padding-left: 10px;
    }
  }
  .spanRight {
    display: inline-block;
    float: right;
  }

}
