
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

header {
  border: 1px solid black;
  width: 100%;
  height: 180px;
  background-color: teal;

  .header-content {
    border: 1px solid yellow;
    width: 1020px;
    margin: 0 auto;
  }
  h1{
    display: inline-block;
  }
  .input {
    width: 50%;
    display: inline-block;
  }
  .search {
    display: inline-block;
  }
  .nav1 {
    display: inline-block;
  }
  .nav2 {
    display: inline-block;
    float: right;
    border-top: 1px solid black;
  }
}
.container {
  width: 1020px;
  margin: 0 auto;
  height: 100%;
  border: 1px solid red;


  .sidebar {
    border: 1px solid green;
    height: 100%;
    .firstBlock {
      border: 1px solid blue;
      height: 500px;
      width: 100%;

    }
    .secondBlock {
      border: 1px solid black;
      height: 534px;
      width: 100%;

    }
  }
  .main-body {
    margin: 0;
    padding-left: 10px;

    .img1 {
      display: inline-block;
      width: 45%;
      padding-left: 10px;
    }
  }
  .spanRight {
    display: inline-block;
    float: right;
  }

}
