
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

@grid-gutter-width = 15px;
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: #F2F2EC;
}

header {
  width: 100%;
  height: 130px;
  border-bottom: 0.5px solid #BFC2C2;
  background-color: #FFF;

  .header-content {
    margin: 0 auto;
    height: 100%;
  }
  .header-top {
    border-bottom: 0.5px solid #BFC2C2;
    #title-img {
      display: inline-block;
      width: 30px;
      height: 30px;
      img {
        margin-top: 2px;
        width: 78px;
        height: 56px;
        background-color: none;
      }
    }
  }
  .header-bottom {
    margin-top: 0.8%;
    margin-right: 130px;
    margin-left: 130px;
    width: 100%;
    font-size: 18px;
    color: #808080;
    span {
      color: #BFC2C2;
      font-size: 15.5px;
      display: inline-block;
      margin-right: 25px;
    }
  }
  h1{
    display: inline-block;
  }

  .input {
    width: 50%;
    display: inline-block;
    margin-top: 20px;
    margin-left: 60px;

  }
  .search {
    display: inline-block;
    margin-left: -5px;
    background-color: #36A8E2;
    font-weight: bold;
    color: #FFF;

  }
  .nav1 {
    display: inline-block;
    width: 500px;
    margin-left: 130px;
    margin-bottom: 10px;

  }
  .nav2 {
    display: inline-block;
    float: right;
    margin-top: 24px;
    margin-right: 130px;
    padding-left: 9px;

    .cart {
      border-color: none;
      border-radius: 0;
      // border-left: 1px solid gray;

    }
    span {
      margin-left: 17px;
    }
    .button {
      border-color: #5DACEA;
    }
  }
}
.container {
  width: 1020px;
  margin: 0 auto;
  height: 300px;


  .sidebar {
    height: 100%;
    background-color: #FFF;

    .firstBlock {
      height: 516px;
      width: 100%;
    .results-body {
      border: 0.5px solid #BFC2C2;

    }
      .search-Result {
        background-color: #F2F2EC;
        h2 {
        font-size: 14px;
        font-weight: 400;
        }
      }
      .all-categories {
        h3 {
            font-size: 15px;
        }
        li {
          list-style: none;
        }
        .cat-List {
          margin-left: -30px;
            li {
              margin-bottom: 8px;
            }
            li > a{
            color: #008080;
            font-weight: 300;

            }
        }
      }

    }
    .itemType {
       background-color: #F2F2EC;

        h2 {
        font-size: 15px;

        }
    }
    .secondBlock {
      height: 650px;
      width: 100%;
      border: 0.5px solid #BFC2C2;


      .type {
        border-bottom: 0.5px solid #BFC2C2;
        margin-top: 11px;
      }
      .price-row {
        padding-top: 15px;
        // padding-left: 15px;
        border-bottom: 0.5px solid #BFC2C2;
        span {
          display: inline-block;
          margin-bottom: 10px;
        }
      }
      .price {
        width: 63px;
        display: inline-block;
      }
      .filter-Color {
        padding-top: 12px;
        padding-bottom: 12px;
        border-bottom: 0.5px solid #BFC2C2;
        .filter {
          display: inline-block;
          margin-top: 10px;
          padding-bottom: 20px;
        }
      }
      .order-options {
        padding-top: 12px;
        padding-bottom: 12px;
        border-bottom: 1px solid 0.5px solid #BFC2C2;
      }
      .shop-location {
        border-bottom: 1px solid 0.5px solid #BFC2C2;
        padding-left: 15px;
        margin-bottom: 12px;

      }
      .colors {
        .colorR{
          display: inline-block;
          width: 20px;
          height: 20px;
          background-color: red;
          border-radius: 15%;
        }
        .colorO{
          display: inline-block;
          width: 20px;
          height: 20px;
          background-color: orange;
          border-radius: 15%;
        }
        .colorY{
          display: inline-block;
          width: 20px;
          height: 20px;
          background-color: yellow;
          border-radius: 15%;
        }
        .colorG{
          display: inline-block;
          width: 20px;
          height: 20px;
          background-color: green;
          border-radius: 15%;
        }
        .colorLB{
          display: inline-block;
          width: 20px;
          height: 20px;
          background-color: lightblue;
          border-radius: 15%;
        }
        .colorP{
          display: inline-block;
          width: 20px;
          height: 20px;
          background-color: purple;
          border-radius: 15%;
        }
        .colorB{
          display: inline-block;
          width: 20px;
          height: 20px;
          background-color: black;
          border-radius: 15%;
        }
        .colorW{
          display: inline-block;
          width: 20px;
          height: 20px;
          background-color: #FFF;
          border: 1px solid black;
          border-radius: 15%;
        }
      }

    }
  }//end of sidebar
  .main-body {
    margin: 0;
    padding-left: 10px;

    .img1 {
      display: inline-block;
      width: 45%;
      padding-left: 10px;
    }
  }
  .spanRight {
    display: inline-block;
    float: right;
  }

}

// main-body
.cat-img{
  // width: 40px;
  white-space: nowrap;
  overflow: hidden;
  height: 269px;
  border-radius: 5%;
  // border: 1px solid black;
  border-color: none;
  // width: 31%;
  img {
    width: 100%;
    height: 180px;

  }
}
